# Скрипт инициализации сервиса WelcomeTelegramBot.
#==========================================================================================#
# {Application Directory} – путь к директории со скриптом.

[Unit]
Description=WelcomeTelegramBot
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/welcombot
ExecStart=/bin/bash -c "source .venv/bin/activate && python3 bot.py"
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
